.DS_Store

# Dependencies
node_modules/

# Build & Prod
build/

# Environment
*.env*
!.env.template

# IDEA
.idea/
.vscode/
*.code-workspace

# TO-DO files
**/*[Tt][Oo][Dd][Oo]*

# Codex
.codex/
codex-history.md
